@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&family=Roboto&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;

}
.ikea-footer{
    background-color:#F5F5F5;
    padding:5%;
}
.footer-contents{
    display:flex ;
    justify-content: space-between;
}
.icons-country{
    margin-top: 3%;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px ;
    padding-bottom: 2%;
    border-bottom: 0.5px solid black;
}
.copyrights{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
button.join-button{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius:20px ;
    font-weight: 700;
}
button.change-button{
    width: 150px;
    height: 40px;
    color: black;
    border-radius:20px ;
    font-weight: 700;
}
button.join-button:hover{
    opacity: 0.8;
}
p:hover{
    text-decoration: underline;
}
.sak:hover{
    text-decoration: none;
}





